In [1]:
import csv
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

data1 = pd.read_csv('/home/jiang/Downloads/AAPL BS.csv')
data2 = pd.read_csv('/home/jiang/Downloads/AAPL Ratings.csv')

droppedData = data1.drop(['aqepsq', 'gdwlamq'], axis = 1)
droppedData.head()

mean = data1['dlttq'].mean()
repalcedData = data1.replace({'dlttq':0}, mean)
repalcedData.head()

filledData = data1.interpolate()
filledData

data1['niq'][data1['niq'] > 15000] = 15000
data1['citotalq'][data1['citotalq'] > 15000] = 15000
data1

/home/jiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,aqepsq,chq,citotalq,cogsq,dlttq,gdwlamq,intanq,niq,cik,costat
0,1690,20100331,2010,2,INDL,C,D,STD,AAPL,37833100,...,NaN,10018,3088,7658,0,NaN,823.0,3074,320193,A
1,1690,20100630,2010,3,INDL,C,D,STD,AAPL,37833100,...,NaN,9705,3236,9291,0,NaN,1032.0,3253,320193,A
2,1690,20100930,2010,4,INDL,C,D,STD,AAPL,37833100,...,NaN,11261,4154,12502,0,NaN,1083.0,4308,320193,A
3,1690,20101231,2011,1,INDL,C,D,STD,AAPL,37833100,...,NaN,10734,6164,16087,0,NaN,1263.0,6004,320193,A
4,1690,20110331,2011,2,INDL,C,D,STD,AAPL,37833100,...,NaN,15978,5999,14015,0,NaN,1248.0,5987,320193,A
5,1690,20110630,2011,3,INDL,C,D,STD,AAPL,37833100,...,NaN,12091,7571,16168,0,NaN,1910.0,7308,320193,A
6,1690,20110930,2011,4,INDL,C,D,STD,AAPL,37833100,...,NaN,9815,6677,16347,0,NaN,4432.0,6623,320193,A
7,1690,20111231,2012,1,INDL,C,D,STD,AAPL,37833100,...,NaN,10310,13005,24909,0,NaN,4368.0,13064,320193,A
8,1690,20120331,2012,2,INDL,C,D,STD,AAPL,37833100,...,NaN,10121,11762,19882,0,NaN,4745.0,11622,320193,A
9,1690,20120630,2012,3,INDL,C,D,STD,AAPL,37833100,...,NaN,7945,8832,19194,0,NaN,5461.0,8824,320193,A
10,1690,20120930,2012,4,INDL,C,D,STD,AAPL,37833100,...,NaN,10746,8190,20584,0,NaN,5359.0,8223,320193,A
11,1690,20121231,2013,1,INDL,C,D,STD,AAPL,37833100,...,NaN,16154,13191,31864,0,NaN,5843.0,13078,320193,A
12,1690,20130331,2013,2,INDL,C,D,STD,AAPL,37833100,...,NaN,12053,9899,25562,0,NaN,5536.0,9547,320193,A
13,1690,20130630,2013,3,INDL,C,D,STD,AAPL,37833100,...,NaN,11248,5702,20605,16958,NaN,5875.0,6900,320193,A
14,1690,20130930,2013,4,INDL,C,D,STD,AAPL,37833100,...,NaN,14259,7275,21818,16960,NaN,5756.0,7512,320193,A
15,1690,20131231,2014,1,INDL,C,D,STD,AAPL,37833100,...,NaN,14077,13237,33604,16961,NaN,6127.0,13072,320193,A
16,1690,20140331,2014,2,INDL,C,D,STD,AAPL,37833100,...,NaN,18949,10278,25812,16962,NaN,5983.0,10223,320193,A
17,1690,20140630,2014,3,INDL,C,D,STD,AAPL,37833100,...,NaN,12977,8085,20751,29030,NaN,6141.0,7748,320193,A
18,1690,20140930,2014,4,INDL,C,D,STD,AAPL,37833100,...,NaN,13844,9463,24145,28987,NaN,8758.0,8467,320193,A
19,1690,20141231,2015,1,INDL,C,D,STD,AAPL,37833100,...,NaN,19478,15000,42283,32504,NaN,8999.0,15000,320193,A
20,1690,20150331,2015,2,INDL,C,D,STD,AAPL,37833100,...,NaN,14489,14316,31875,40072,NaN,8772.0,13569,320193,A
21,1690,20150630,2015,3,INDL,C,D,STD,AAPL,37833100,...,NaN,15319,9065,26840,47419,NaN,8823.0,10677,320193,A
22,1690,20150930,2015,4,INDL,C,D,STD,AAPL,37833100,...,NaN,21120,9681,27834,53463,NaN,9009.0,11124,320193,A
23,1690,20151231,2016,1,INDL,C,D,STD,AAPL,37833100,...,NaN,16689,15000,42495,53204,NaN,9126.0,15000,320193,A
24,1690,20160331,2016,2,INDL,C,D,STD,AAPL,37833100,...,NaN,21514,10948,28159,69374,NaN,9092.0,10516,320193,A
25,1690,20160630,2016,3,INDL,C,D,STD,AAPL,37833100,...,NaN,18237,8737,23726,68939,NaN,8767.0,7796,320193,A
26,1690,20160930,2016,4,INDL,C,D,STD,AAPL,37833100,...,NaN,20484,9755,26491,75427,NaN,8620.0,9014,320193,A
27,1690,20161231,2017,1,INDL,C,D,STD,AAPL,37833100,...,NaN,16371,15000,45188,73557,NaN,8271.0,15000,320193,A
28,1690,20170331,2017,2,INDL,C,D,STD,AAPL,37833100,...,NaN,15157,10362,29973,84531,NaN,8090.0,11029,320193,A
29,1690,20170630,2017,3,INDL,C,D,STD,AAPL,37833100,...,NaN,18571,8594,25566,89864,NaN,8105.0,8717,320193,A
30,1690,20170930,2017,4,INDL,C,D,STD,AAPL,37833100,...,NaN,20289,11109,30164,97207,NaN,8015.0,10714,320193,A
31,1690,20171231,2018,1,INDL,C,D,STD,AAPL,37833100,...,NaN,27491,15000,51636,103922,NaN,8038.0,15000,320193,A
32,1690,20180331,2018,2,INDL,C,D,STD,AAPL,37833100,...,NaN,45059,11877,34976,101362,NaN,NaN,13822,320193,A
33,1690,20180630,2018,3,INDL,C,D,STD,AAPL,37833100,...,NaN,31971,11472,30179,97128,NaN,8523.0,11519,320193,A

In [ ]:
def f(X):
    x = X

In [10]:
a = DataFrame(np.random.randn(4, 3), 
                  columns=list('abc'))
a
b = a.iloc[:,0:2]
b

          a         b
0 -0.809603 -1.357122
1  0.643397  0.733370
2 -0.615660  0.148690
3 -1.426305  0.042124