# Python Basic Syntax

### Rules for naming a object ###
__In python, almost everything is a object (module, varible, class, function ...).__
 - __Starts with__ a letter or underscore (\_) __followed by__ letters, underscore, and digits.
     eg: name\_ , name\_1, name1, \_name , \_\_name
 - Case sensitive: 'Name', 'name'
 - Reserved words (33 from Python 3.3):  False, True,  None,	class,	finally,	is,	return,
	continue,	for,	lambda,	try,
	def,	from,	nonlocal,	while, and,	del,	global,	not,	with, as,	elif,	if,	or,	yield, assert,	else,	import,	pass,	 break,	except,	in,	raise 

### Code blocks ###
 * Python use ':' and indentation to indicate the start of a code blocks. (Not braces, compared with C++, Java, R, etc)
 * The number of blank spaces does NOT matter, but it should be consistent in one block (also same with blocks in the same level)

In [3]:
if True:
    print('first line of body')
    print('second line of body')
print('out of body')

first line of body
out of body

In [4]:
for i in [1,2,3,4]:
    if i<2:
        print('It is true.')
        print(i)
    else:
        print('It is false')
    print('One loop is finished')
print('All loop is finished')

It is true.
1
One loop is finished
It is false
One loop is finished
It is false
One loop is finished
It is false
One loop is finished
All loop is finished

### One line of code ###
* Generally, Python uses carriage return to seperate lines (not ';' compared with C/C++). I usually knows if your code is complete.
* Use '\' to tell python this line is not finished.

In [6]:
myDict = {'a':1,
          'b':2,
          'c':3}
a = 1
b = 2
c = a+b\
    -(a)
d = (a+b
     -(a))
print(myDict, c, d)

{'a': 1, 'b': 2, 'c': 3} 2 2

### Assignment of varible ###
* Use '=' to assign a object (on the left hand) to a varible (on the right hand)
* You can assign multiple varibles at the same time
* No need to specify data type (compared with C/C++)

In [7]:
c = 100
a, b = 1, 2
print(a,b,c)

1 2 100

# Naive Data types

### Data type ###
* int(long): 1, -1, 100
* float(float32): 0.1, 1., .3, -1.9
* bool: True, False
* string: 'a', 'abc', 'abc 123', "abc 123","It's me", '''abc 123''', """abc 123""" (Last two have special meaning: doc string)
* None：means NOTHING, NULL (C/C++/R)
* others: complex, byte, etc.

### Type convert ###
Note sharp mark (#) is used to comment. Interpretor will skip everything after #

In [1]:
a = '123' # a is a string
b = int(a) # b is an int 
c = float(a) # c is a float
d = bool(a) # d is boolean
e = str(c) # e is a string
print(a,b,c,d, e)

123 123 123.0 True 123.0

bool() will convert None and 0 into False

In [2]:
a, b, c = None, 0, 1
d, e, f = bool(a), bool(b), bool(c)
print(d, e, f)

False False True

### Operators

In [3]:
print(1+1)
print(1-1)
print(1*2)
print(1/2) # different in Python 2, take a try!    divide for float number

print(2**3) # 2^3 in most other language.
print(7%3) #Modulo operation: 7 =2*3+1
print(7//3)                                     # divide for integer

2
0
2
0.5
8
1
2

In [4]:
a = 2
b = 3
b = b+a
print(b)

5

In [7]:
a = 2
b = 3
b += a # also -=, /=, *=
print(b)

5

In [8]:
# For logical operator:
print(1>2)
print(1<2)
print(1==2)
print(1!=2)
print(1>=1)
print(2<=2)
print(True and False)
print(True or False)
print(not True)

False
True
False
True
True
True
False
True
False

In [9]:
# Optional: For binary
print(3>>1) # 3->(0011)->(0001)->1
print(3<<1) # 3->(0011)->(0110)->6
print(2&3) # 2(0010), 3(0011) -> (0010) -> 2
print(2|3) # 2(0010), 3(0011) -> (0011) -> 3
print(2^3) # 2(0010), 3(0011) -> (0001) -> 1
print(~2) # 2(00000010) -> (11111101) -> -3

1
6
2
3
1
-3

For more detail: https://data-flair.training/blogs/python-operator/

### Data structure ###
* Dictionary: mapping (R), hash table(essence). A mapping from key to value. __mutable__
* List: dynamic array (C/R/Matlab), but more than that! __mutable__
* Tuple: list-like object, but __immutable__.
* Set: Similar to set in math, each element is unique.

## 1. Introducing Dictionaries

One of Python's built−in datatypes is the dictionary, which defines one−to−one relationships between keys and values. Key is __unique__.<br>
Note: Key can be string, int, float, boolean, tuple. Value can be any object. (Everything in Python is object.)

In [ ]:
#   {key1: value1, 
#    key2: value2, 
#    key3: value3,
#        ...
#   }

In [2]:
# d = dict({"server":12, "database":"master"})
d = {"server":12, "database":"master"}
print(d)

{'server': 12, 'database': 'master'}

In [5]:
12 in d        # (bool) the key is in d ? 1:0
'server' in d

True

In [1]:
# You can also create a dictionary with such syntax. The combination of (key, value) is called item.
d = dict([("server",12), ("database","master")])
print(d)

{'server': 12, 'database': 'master'}

In [15]:
print(d['server'])
d['database']

12

'master'

In [16]:
d["server"] = 15
d["client"] = 20
print(d)

{'server': 15, 'database': 'master', 'client': 20}

In [17]:
d["peter"] = {1: 'One'}
print(d)

{'server': 15, 'database': 'master', 'client': 20, 'peter': {1: 'One'}}

In [18]:
dir(d)     #directory目录：contain all the methods or iterator

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [19]:
a = d.keys()
print(a)
b = d.values()
print(b)

dict_keys(['server', 'database', 'client', 'peter'])
dict_values([15, 'master', 20, {1: 'One'}])

## 2. Introducing Lists

Lists are Python's workhorse datatype. If your only experience with lists is arrays in Visual Basic or (God forbid) the
datastore in Powerbuilder, brace yourself for Python lists.

### 2.1. Defining Lists

In [20]:
li = [1, 2.0, "a", "b", "mpilgrim", "z", "example"]
print(li)

s = '123456'  # a list of string : seperate all the characters
print(list(s))

[1, 2.0, 'a', 'b', 'mpilgrim', 'z', 'example']
['1', '2', '3', '4', '5', '6']

### 2.2 Indexing ###
* Index starts from 0, not 1 
* Using slice operator '\[\]' to slice a list.
*  ':' operator in '\[\]' indicates 'between', eg: myList\[0:3\], is the sublist consisting of elements on 0,1,2. Note: __the index on the right hand side of ':' is not included__, similiar to __\[idx1,idx2\)__ in math
* Leaving left side of ':' empty, indicating starting from 0; leaving right side empty indicating ending at the end.
* Negative index means counting from the end. -1 means 'the last one', -2 means 'the second last one', etc.

In [22]:

#idx:0123456789... 
s = 'Hello World!'
s = list(s)

print(s)          # Prints complete list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [24]:
s[0]     # Prints first element

'H'

#### Slicing: YourList[ startpoint : endpoint : step]
Note that the endpoint will not be included.

In [30]:
s[2:6]     # Prints elements starting from 3rd to 5th

['l', 'l', 'o', ' ']

In [27]:
s[2:]     # Prints list starting from 3rd element

['l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [31]:
s[-2]      # Prints the second last element

'd'

In [32]:
s[-3:]

['l', 'd', '!']

In [33]:
s[0:10:2]   # 0, 2, 4, 6, 8 step-wise slicing; extracting characters with even indexes from the first 10 characters

['H', 'l', 'o', 'W', 'r']

In [34]:
s[10:0:-2]

['d', 'r', 'W', 'o', 'l']

In [35]:
s[::-1] # A frequently used pattern.  ~~inverse the list

['!', 'd', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

### 2.3. Adding Elements to Lists

###### Adding Elements to a List
For R user: following methods will modify this list object itself, not returning you a new object.

In [36]:
li = ['a', 'b', 'c']
li.append("new")
li

['a', 'b', 'c', 'new']

In [37]:
li.insert(1, "new3")
li

['a', 'new3', 'b', 'c', 'new']

In [38]:
li.extend(["two", "elements"])
li

['a', 'new3', 'b', 'c', 'new', 'two', 'elements']

###### The Difference between extend and append

In [39]:
li = ['a', 'b', 'c']
li.extend(['d', 'e', 'f'])
li

['a', 'b', 'c', 'd', 'e', 'f']

In [40]:
li = ['a', 'b', 'c']
li.append(['d', 'e', 'f'])
li

['a', 'b', 'c', ['d', 'e', 'f']]

###### Searching Lists

In [41]:
li = ['example', 'new']
"example" in li

True

 ### 2.4. Deleting List Elements

 Removing Elements from a List

In [42]:
li = ['z', 'new']
li.remove("z")
li

['new']

In [43]:
li = [1, 2, 3]
li.pop()      // remove the element on the top of a stack

3

In [44]:
li

[1, 2]

### 2.5. Using List Operators

In [ ]:
li = ['a', 'b', 'mpilgrim']

In [50]:
li = li + ['example', 'new']
print(li)

[1, 2, 'example', 'new', 'example', 'new', 'example', 'new', 'two', 'example', 'new', 'example', 'new']

In [48]:
li = li + ['two']
li

[1, 2, 'example', 'new', 'example', 'new', 'example', 'new', 'two']

In [51]:
li = [1, 2] * 3
li

[1, 2, 1, 2, 1, 2]

In [52]:
li = [1, 'A'] * 3
li

[1, 'A', 1, 'A', 1, 'A']

### 2.6. list is mutable object

In [53]:
a = [1,2,3]
b = a
a[0] = 100
print(a)
print(b)

[100, 2, 3]
[100, 2, 3]

In [1]:
a = [1,2,3]
# b = a
b = a.copy()
print(id(a))
print(id(b))

4540730120
4540756168

In [2]:
a[0] = 100
print(a,b)

[100, 2, 3] [1, 2, 3]

In [3]:
a = {0:'a', 1:'b'}
b = a
# b = a.copy()
print(id(a))
print(id(b))

4541555624
4541555624

In [4]:
a[0] = 100
print(a,b)

{0: 100, 1: 'b'} {0: 100, 1: 'b'}

In [5]:
# Question: what about this?
a = [[1,2,3], [4,5,6]]
b = a.copy()
id(a), id(b)

(4540730760, 4540756104)

In [6]:
a[0][0] = 100
print(a)
print(b)

[[100, 2, 3], [4, 5, 6]]
[[100, 2, 3], [4, 5, 6]]

In [7]:
id(a[0]), id(b[0])

(4541428808, 4541428808)

### 2.7. Function range()

In [13]:
range(10)   // 0, 1, 2 .... 9   
print(range(10))

range(0, 10)

In [10]:
range(1,10) // 1, 2, 3 ... 9
# range(1, 10) = [1, 10) *******

range(1, 10)

In [11]:
range(1,10,3)

range(1, 10, 3)

In [12]:
dir(list())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### 2.8. Function len()

In [17]:
# len() will return you the length of list

print(range(10))
print(len(range(1,10)))

range(0, 10)
9

## 3. Introducing Tuples

A tuple is an immutable list. A tuple can not be changed in any way once it is created.

###### Defining a tuple

In [38]:
t = ("a", "b", "mpilgrim", "z", "example")
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [37]:
t[0]=1

NameError: name 't' is not defined

In [40]:
t[-1]

'example'

In [39]:
t[1:3]

('b', 'mpilgrim')

###### Tuples Have No Methods

In [ ]:
t

In [42]:
t.append("new")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t.remove("z")

In [41]:
t.index("example")

4

In [43]:
"z" in t

True

In [44]:
a,b = 1,2 # equivalent to (a,b) = (1,2)

In [45]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

So what are tuples good for?
* Tuples are faster than lists. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.
* It makes your code safer if you "write−protect" data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that shows this data is constant, and that special thought (and a specific function) is required to override that.
* Remember that I said that dictionary keys can be integers, strings, and "a few other types"? Tuples are one of those types. Tuples can be used as keys in a dictionary, but lists can't be used this way.Actually, it's more complicated than that. Dictionary keys must be immutable. Tuples themselves are immutable, but if you have a tuple of lists, that counts as mutable and isn't safe to use as a dictionary key. Only tuples of strings, numbers, or other dictionary−safe tuples can be used as dictionary keys.
* Tuples are used in string formatting, as you'll see shortly.

#### Immutable object: numbers, tuple

In [51]:
# Int, bool type:

print(id(10), id(False))

a, b = 10, False
print(id(a), id(b))

a_ = a
b_ = b

a_ = True
b_ = 20
print(id(a_), id(b_))

4502558336 4502178656
4502558336 4502178656
4502177712 4502558656

In [55]:
# float, string:
print(id('abc'), id(15.1))
a, b = 'abc', 15.1
print(id(a), id(b))
a_ = a
b_ = b

a_ = 'bcd'
b_ = 16.5
print(id(a_), id(b_))

4504165992 4539158272
4504165992 4539158080
4542128176 4539158416

## 4. for statement, while statement, if else statement

In [ ]:
# pseudo code
for varible in iterator/generator:      
    body

out_of_statement

In [18]:
s = 0
for i in range(10):     # for (int i=begin; i<len; i++)
    s += i
    print(i)
print(s)

0
1
2
3
4
5
6
7
8
9
45

In [20]:
d = {'a': 100, 'b': 200, 'c': 300}
for i in d:
    print(i)
    print(d[i])

a
100
b
200
c
300

In [ ]:
range(10)

In [ ]:
# pseudo code
while condition:
    body

out_of_statement

In [ ]:
i = 0
while i<10:
    print(i)
    i += 1

In [ ]:
# pseudo code
if condition1:
    body1
elif condition2:
    body2
else:
    body3
out_of_statement

In [ ]:
a = 10
if a < 5:
    print('a is smaller than 5')
elif a>15:
    print('a is greater than 15')
else:
    print('a is between 5 and 15')

#### Keywords: break & continue 
* __break__ will break the current loop
* __continue__ will skip the rest of loop body.

In [21]:
i = 0
while True:
    print(i)
    i += 1
    if i > 10:
        break
        
print('loop finished. i is %s'% i)

0
1
2
3
4
5
6
7
8
9
10
loop finished. i is 11

In [23]:
i = 0
while i <10:
    i += 1
    if i > 5:
        continue 
    print(i)
    
print('loop finished. i is %d'% i)

1
2
3
4
5
loop finished. i is 10

## 5. Define functions
* Using keyword 'def' to define a function , the format looks like this:

In [24]:
print('Hello David')
print('Hello Iris')

def hello(name):     # name is the parameter
    print('Hello %s'% name)
    
hello('David')
hello('jsx')

Hello David
Hello Iris
Hello David
Hello jsx

In [36]:
def myFunctionName(arg1, arg2, arg3 = 10):
    #print(arg1)
    return arg1, arg2*arg3    

a = 1
b = 2
print(myFunctionName(a,b))    # arg3 has been initialized, so we may not assgin it
print(myFunctionName(a,2,3))

(1, 20)
(1, 6)

In [29]:
def SumOfList(ls):
    s = 0
    for ele in ls:
        s += ele
    return s

a = SumOfList(range(10))
print(a)

'''
Equivalent to:

ls = range(10)

s = 0
for ele in ls:
    s += ele

a = s
del s, ele, ls

'''

45

'\nEquivalent to:\n\nls = range(10)\n\ns = 0\nfor ele in ls:\n    s += ele\n\na = s\ndel s, ele, ls\n\n'

In [32]:
def reverseList(ls):
    return ls[::-1], len(ls)

test_list = range(5)
print(test_list)

new_list, n = reverseList(test_list)
print(new_list,n)
#print(new_list)

range(0, 5)
range(4, -1, -1) 5